:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-slate: #495670;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --yellow: #f8c900;
    --light-yellow: #f8cb009b;
    --yellow-tint: #f8cb0025;
    --pink: #f57dff;
    --blue: #57cbff;
    --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --hamburger-width: 30px;
    --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
    --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
    --ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ham-after-active: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

.font {
    font: var(--font-sans);
}


.color {
    color: var(--light-slate);
}

.size {
    font-size: 20px;
}

* {
    background-color: var(--navy);
    color: rgb(249, 242, 226);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    opacity: 0;
    transition: 2s;
}

#checkBox,
#ham {
    display: none;

}


#nav>* {
    background-color: #0a192fee;
}

#nav {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #0a192fee;
    transition: top 0.3s;
}

#logo {
    padding-top: 13px;
    height: 5em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo>a>img {
    width: 70px;
    height: 80px;
}

#selectSection {
    width: 27em;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#selectSection>* {
    font-family: var(--font-mono);
}

#selectSectionForHam {
    display: none;
}

#selectSection>div>a:hover {
    color: var(--yellow);
}

a {
    text-decoration: none;
}

#resume {
    color: var(--yellow);
    border: 1px solid var(--yellow);
    padding: 11px 15px;
    border-radius: 4px;
    font-size: 16px;
}

#resume:hover {
    background-color: var(--yellow-tint);
    cursor: pointer;
}

#left {
    width: 5em;
    position: fixed;
    left: 35px;
    bottom: 0;
}

#right {
    width: 5em;
    position: fixed;
    right: 35px;
    top: 100px;
    transition: top 0.3s;
}

.ulForContact>*,
.ulForContact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.linksForContact {
    height: 2em;
    width: 2em;
    margin-bottom: 20px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.linksForContact:hover {
    top: -8;
}

#downward {
    writing-mode: vertical-lr;
    margin-top: 15px;
    font-family: var(--font-mono);
    font-size: 14px;
    letter-spacing: 2px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

#downward:hover,
#downward>a:hover {
    color: var(--yellow);
    cursor: pointer;
    top: 8;
}

#main {
    width: 75%;
    margin: auto;
    position: relative;
    padding-top: 100px;
}

#introduction {
    /* border: 1px solid white; */
    margin-top: 10px;
}

.smallIntro {
    color: var(--light-slate);
    line-height: 25px;
    font-family: var(--font-mono);
    width: 75%;
    margin-top: 1.3em;
    line-height: 27px;
    font-size: 17;
}

mark {
    color: var(--yellow);
}

#aboutSection {
    margin-top: 150px;
    border: 1px solid wheat;
    opacity: 0;
    transition: 1s;
}



#btn1 {
    margin-top: 20px;
    color: var(--yellow);
    border: 1px solid var(--yellow);
    padding: 12px 30px;
    border-radius: 4px;
    font-size: 20px;
    font-family: var(--font-mono);
}

#btn1:hover {
    background-color: var(--yellow-tint);
    cursor: pointer;
}

#myself {
    display: flex;
    justify-content: space-between;
}

#myself>div {
    width: 50%;

}

#myself>div>p {
    line-height: 1.3;
}

#myImage {
    width: 50%;

}

#myImage>img {
    width: 80%;
    display: block;
    margin: auto;
}

@media screen and (max-width:1080px) {
    #left {
        left: 15px;
    }
}

@media screen and (max-width:800px) {

    #left,
    #right {
        display: none;
    }

    #main {
        width: 88%;
    }

    #main .smallIntro {
        width: 100%;
    }

    #selectSection>* {
        display: none;
    }

    #selectSectionForHam {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 2;
        margin: auto;
        justify-content: space-evenly;
        text-align: center;
        transition: 0.5s ease;
        transform: translateX(100%);
        font-family: var(--font-mono);
    }

    #checkBox,
    #ham {
        display: flex;
        position: fixed;
        z-index: 1;
        top: 0;
        transition: top 0.3s;
        margin-top: 36px;
        top: 7px;
        right: 45px;
    }

    #checkBox {
        z-index: 3;
        margin-top: 36px;
        top: 7px;
        right: 45px;
        opacity: 0;
    }

    #ham {
        right: 40px;
        top: -1;
    }

    #closeHam {
        position: fixed;
        right: 40px;
        top: 35px;
    }

    #checkBox:checked+#selectSectionForHam {
        transform: translateX(0);
    }

    #myself {
        flex-direction: column;
        margin: auto;
    }

    #myself>#myImage,
    #myself>div {
        width: 100%;
    }

    .project-overline {
        text-align: left;
    }

    .project-title {
        margin: 0px 0px 10px;
        text-align: left;
    }
}





















.project-content {
    position: absolute;
    width: 50%;
    right: 0px;
}
.project-content *{
    background:none;
}

.project-overline {
    margin: 10px 0px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    font-weight: 400;
    text-align: right;
}

.project-title {
    margin: 0px 0px 20px;
    color: var(--lightest-slate);
    font-size: clamp(24px, 5vw, 28px);
    font-weight: 600;
    text-align: right;
    font-family: var(--font-sans);
}

.project-description {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    padding: 25px;
    border-radius: var(--border-radius);
    background-color: var(--light-navy);
    color: var(--light-slate);
    font-size: var(--fz-lg);
    font-family: var(--font-sans);
    text-align: right;
    z-index: 2;
}

.project-description>p {
    background-color: var(--light-navy);
}

.project-tech-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 25px 0px 10px;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    padding-left: 150px;
}

.fixLinkForImage {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
}
.git{
    right: 35;
}