:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #064663;
    --lightest-navy: #256D85;
    --navy-shadow: #1a374dcc;
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --cyan: cyan;
    --light-yellow: rgba(0, 255, 255, 0.689);
    --cyan-tint: rgba(0, 255, 255, 0.126);
    --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}



.font {
    font: var(--font-sans);
}


.color {
    color: var(--slate);
}

.size {
    font-size: 20px;
}

* {
    background-color: var(--navy);
    color: var(--lightest-slate);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-slate);
    border: 3px solid var(--navy);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: var(--navy);
}

::selection {
    background-color: var(--lightest-navy);
    color: var(--lightest-slate);
}


#checkBox,
#ham {
    display: none;

}

#nav {
    padding-top: 10px;
    display: flex;
    width: 100%;
    padding-right: 70px;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: rgba(10, 25, 47, 0.85);
    transition: top 0.3s;
    box-shadow: 0 0 30px -15px var(--dark-navy);
}

#nav,
#nav * {
    background-color: rgba(10, 25, 47, 0.85);
}

#logo {
    margin-left: 10px;
    height: 5em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background: none;
    border-radius: 50%;
}

#logo>a>img {
    width: 70px;
    height: 70px;
    background: none;
    border-radius: 50%;
}

#selectSection {
    width: 32em;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
}

#selectSection * {
    font-family: var(--font-mono);
    background: none;
}

#selectSectionForHam {
    display: none;
}

#selectSection>div>a:hover {
    color: var(--cyan);
}

a {
    text-decoration: none;
    border-radius: 50%;
}

#resume {
    color: var(--cyan);
    border: 1px solid var(--cyan);
    padding: 11px 15px;
    border-radius: 4px;
    font-size: 16px;
}

#resume:hover {
    background-color: var(--cyan-tint);
    cursor: pointer;
}

#left {
    width: 5em;
    position: fixed;
    left: 35px;
    bottom: 0;
}

#right {
    width: 5em;
    position: fixed;
    right: 35px;
    top: 100px;
    transition: top 0.3s;
}

.ulForContact>*,
.ulForContact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.linksForContact {
    height: 2em;
    width: 2em;
    margin-bottom: 20px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.linksForContact:hover {
    top: -8;
}

#downward {
    writing-mode: vertical-lr;
    margin-top: 15px;
    font-family: var(--font-mono);
    font-size: 14px;
    letter-spacing: 2px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

#downward:hover,
#downward>a:hover {
    color: var(--cyan);
    cursor: pointer;
    top: 8;
}

#main {
    width: 75%;
    margin: auto;
    position: relative;
    padding-top: 150px;
    overflow: hidden;
}

#introduction {
    /* border: 1px solid white; */
    margin-top: 10px;
}

.smallIntro {
    color: var(--light-slate);
    line-height: 25px;
    font-family: var(--font-mono);
    width: 75%;
    margin-top: 1.3em;
    line-height: 27px;
    font-size: 17;
}

mark {
    color: var(--cyan);
    font-family: var(--font-mono);
    font-weight: normal;
}

#aboutSection {
    margin-top: 150px;
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

#masaiStudies>img {
    width: 100%;
    border-radius: 3px;
    opacity: 0.8;
}

#masaiStudies>img:hover {
    opacity: 1;
}

#mainContainerForSkill {
    border: 1px solid #DDDDDD;
    background-image: url(./source/java.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 650px;
    border-radius: 3px;
}

#mainContainerForSkill * {
    background: none;
    padding-bottom: 15px;

}

.skillS {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: var(--font-sans);
}

.skillS>div>img {
    width: 100%;
    padding: 50px;
}

#btn1 {
    margin-top: 20px;
    color: var(--cyan);
    border: 1px solid var(--cyan);
    padding: 12px 30px;
    border-radius: 4px;
    font-size: 20px;
    font-family: var(--font-mono);
    transition: var(--transition);
}

#btn1:hover {
    background-color: var(--cyan-tint);
    cursor: pointer;
}

#myself {
    display: flex;
    justify-content: space-between;
}

#myself>div {
    width: 50%;

}

#myself>div>p {
    line-height: 1.3;
    font-family: var(--font-sans);

}

#myImage {
    width: 50%;
}


#myImage>img {
    position: sticky;
    width: 350px;
    height: 350px;
    display: block;
    margin: auto;
    border-radius: 5px;
    transition: var(--transition);
}

#myImage>img:hover {
    margin: auto;
}

















.project-content {
    width: 66%;
}


.project-content * {
    background: transparent;
}

.project-overline {
    padding: 10px 0px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    font-weight: 400;
    text-align: right;
}

.project-title {
    margin: 0px 0px 20px;
    color: var(--lightest-slate);
    font-size: clamp(24px, 5vw, 28px);
    font-weight: 600;
    text-align: right;
    font-family: var(--font-sans);
}

.project-description {
    box-shadow: 0 10px 30px -15px var(--dark-navy);
    padding: 25px;
    border-radius: var(--border-radius);
    background-color: var(--light-navy);
    color: var(--light-slate);
    font-size: var(--fz-lg);
    font-family: var(--font-sans);
    z-index: 2;
    /* width: 60%;
    margin-left: 40%; */
}

.project-description>p {
    background-color: var(--light-navy);
}

.project-tech-list {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0px 10px;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    padding-left: 150px;
}

.fixLinkForImage {
    width: 30px;
    height: 30px;
    position: static;
    right: 0;
}

.git {
    right: 35;
    height: 25;
    width: 25;
}


.left .project-overline,
.left .project-description,
.left .project-title,
.left .project-tech-list,
.left {
    text-align: left;
    left: 0;
}

.right {
    margin-left: 34%;
}


.left .project-tech-list {
    padding-left: 0;
    padding-right: 100px;
}

.project-links {
    height: 30px;
}

.right .fixLinkForImage {
    position: absolute;
    right: 0;
}

.right .goto {
    position: absolute;
    right: 38px;
}






#contactMeSection {
    font-family: var(--font-sans);
    margin: 0;
    box-sizing: border-box;

}



#fixFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 22px;
}

.block {
    display: inline;
    margin-left: -5px;
}

.headding {
    margin: 120px 0 20px 0;
    text-align: left;
    color: var(--lightest-slate);
    font-family: var(--font-sans);
}

.edu {
    text-align: center;
    margin: 30px 0;
}

.decorate {
    font-family: var(--font-sans);
    font-weight: bolder;
    font-size: 17px;
}

._contact {
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
}

._contact>div {
    justify-content: center;
}

._contact i,
._contact img {
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
}


._contact a h3 {
    text-align: center;
}

#educationInMasai {
    display: flex;
    width: 750px;
    font-family: Helvetica, arial;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    min-height: 243px;
    text-align: center;
    margin: 0 auto;
}

.contrib-number {
    color: #6cc644;
}

#educationInMasai>div {
    width: 33%;
    border: 1px solid black;
}

.icons>p {
    font-size: 15px;
}

hr {
    margin: 16px 0px;

}


.calendar {
    width: 100%;
    overflow: hidden;
    z-index: 0.1;
    padding: 10px;
    padding-left: 2px;
    box-shadow: rgba(6, 33, 60, 0.2) 0px 8px 24px;
}


.leftAlineImage {
    margin-left: 40%;
}

.project-image {
    margin-top: 50px;
}

.fixImageSizeForTheProject {
    width: 565px;
    display: block;
    opacity: 0.9;
}

.fixImageSizeForTheProject:hover {
    opacity: 1;
}

#techStack {
    display: flex;
    margin-top: 40px;
    font-family: var(--font-mono);
}

ul {
    list-style-image: url(./source/arrow.png);
    margin-left: 20px;
    margin-right: 40px;
    line-height: 25px;
}


@media screen and (max-width:1080px) {
    .fixImageSizeForTheProject {
        opacity: 1;
    }

    #left {
        left: 15px;
    }

    .contrib-column {
        position: relative;
        top: 120px;
        border: none;
    }

    .float-right {
        position: relative;
        top: 128px;
        z-index: 1;
    }

    .calendar .js-calendar-graph-svg {
        position: absolute;
        right: 5px;
    }

    .calendar {
        border: none;
        box-shadow: rgba(6, 33, 60, 0.2) 0px 8px 24px;
    }

    .left .project-tech-list {
        width: 100%;
        padding-right: 0;
    }

    .right .project-tech-list {
        width: 100%;
        padding-left: 0;
    }

}



@media screen and (max-width:800px) {

    h1 {
        font-size: x-large;
    }

    #main p {
        font-size: medium;
    }

    ._contact {
        margin: auto;
    }

    .project-title {
        background: none;
    }


    .project-content {
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        padding: 10px;
    }

    .imgMatginAuto {
        display: block;
        margin: auto;
    }

    .project-image * {
        opacity: 1;
    }

    .project-image>a>img {
        height: auto;
    }

    .leftAlineImage {
        margin-left: 0px;
    }

    #left,
    #right {
        display: none;
    }

    #main {
        width: 88%;
    }

    #main .smallIntro {
        width: 100%;
    }

    #selectSection>* {
        display: none;
    }

    #selectSectionForHam {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 2;
        margin: auto;
        justify-content: space-evenly;
        text-align: center;
        transition: 0.5s ease;
        transform: translateX(100%);
        font-family: var(--font-mono);
    }

    #checkBox,
    #ham {
        display: flex;
        position: fixed;
        z-index: 1;
        top: 0;
        transition: top 0.3s;
        margin-top: 36px;
        top: 7px;
        right: 45px;
    }

    #checkBox {
        z-index: 3;
        margin-top: 36px;
        top: 7px;
        right: 45px;
        opacity: 0;
    }

    #ham {
        right: 40px;
        top: -1;
    }

    #closeHam {
        position: fixed;
        right: 30px;
        top: 25px;
    }

    #checkBox:checked+#selectSectionForHam {
        transform: translateX(0);
    }

    #myself {
        flex-direction: column;
        margin: auto;
    }

    #myself>#myImage,
    #myself>div {
        width: 100%;
        margin: 30px 0 20px 0;
    }

    #resumeIn {
        color: var(--cyan);
        border: 1px solid var(--cyan);
        padding: 11px 15px;
        border-radius: 4px;
        font-size: 16px;
    }

    #resumeIn:hover {
        background-color: var(--cyan-tint);
        cursor: pointer;
    }

    .project-overline {
        text-align: left;
    }

    .project-title {
        margin: 0px 0px 10px;
        text-align: left;
    }

    #project {
        margin: auto;

    }

    #contactMeSection {
        margin-top: 150px;
    }

    .project-content {
        text-align: left;
        left: 0;
        width: 100%;
        padding: 10px;
        z-index: 1;
        background-color: var(--light-navy);
        box-shadow: 0 10px 30px -15px var(--dark-navy);
    }

    .project-description {
        text-align: left;
        background: none;
        padding: 0;
        width: 80%;
        margin-left: 0;
        box-shadow: none;
    }

    .project-description>p {
        padding: 5px;
    }


    .left .project-tech-list {
        width: 80%;
        padding-right: 0;
    }

    .right .project-tech-list {
        width: 80%;
        padding-left: 0;
    }

    .fixLinkForImage {
        left: 20px;
    }

    .goto {
        left: 55px;
    }

    .left .git {
        left: 25;
    }

    .left .goto {
        left: 55px;
    }

    .project-image {
        width: 0%;
    }




    .block {
        display: block;
        margin-left: auto;
    }

    .hideit {
        display: none;
    }

    .skillS>div>img {
        padding: 10px;
    }

    .float-right {
        position: relative;
        top: 128px;
        z-index: 1;
    }

    .calendar {
        border: none;
    }

}


@media screen and (max-width:480px) {
    .project-content {
        padding-top: 0;
    }

    .left .project-tech-list {
        width: 100%;
        padding-right: 0;
    }

    .right .project-tech-list {
        width: 100%;
        padding-left: 0;
    }

    .project-description {
        width: 100%;
    }

}

.hide {
    display: none;
}